#genreHeader {
  color: white;
  font-size: 30px;
  text-align: center;
}

.searchWord {
  color: white;
}

.searchBar {
  float: right;
  right: -50px;
}

.pagination {
  display: inline-block;
  float: right;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

#movies img, #movie img, #movies2 img, #movie2 img, #movies3 img, #movie3 img, #movies4 img, #movie4 img {
  width: 100%;
}

@media(min-width:960px) {
  #movies .col-md-3 .well, #movies2 .col-md-3 .well, #movies3 .col-md-3 .well, #movies4 .col-md-3 .well {
    height: 450px;
    /*390px;*/
  }

  #movies .col-md-3 img, #movies2 .col-md-3 img, #movies3 .col-md-3 img, #movies4 .col-md-3 img {
    height: 330px;
    /*240px;*/
  }
}
