body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/moviebg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}


.center {
  margin: auto;
  position: absolute;
  width: 60%;
  padding: 100px;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.flex-container>div {
  border: 1px solid #f1f1f1;
  padding: 5px;
  background-color: white;
  width: 80%;
}

.flex-containerreview {
  display: flex;
}

.flex-containerreview>div {

  text-align: left;
  background-color: white;
  /* margin: 10px; */
  margin-right: 50px;
}

.container {
  padding: 30px;
  width: 80%;
  height: 80%;
  text-align: left;
  background-color: white;
  /* margin: 10px; */
  border-color: grey;
  margin-top: 100px;
}


.singledescr {
  display: block;
  padding: 10px;
  width: 80%;
  text-align: left;
  background-color: white;
  border-color: grey;
}

/* background animation */
.wrapper {
  overflow: hidden;
}

/* end animation */
.movie-list {
  margin: 0 -15px;
  /* width: 80%; */
}

.movie-list .movie {
  width: 25%;
  padding: 0 15px;
  float: left;
  /* margin: 10px; */
  margin-bottom: 50px;
}

.movie-list .movie .movie-poster {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
  border: 1px solid transparent;
}

.movie-list .movie .movie-poster img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.movie-list .movie:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.movie-list .movie .movie-title {
  font-size: 24px;
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 20px;
}

.movie-list .movie .movie-title a {
  color: #84878d;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.movie-list .movie .movie-title a:hover {
  color: #ffaa3c;
}

#top10 {
  color: white;
  text-align: center;
  font-size: 15px;
}

/* TOP 10 PAGE */
/* body {font-family: Arial, Helvetica, sans-serif;} */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  float: right;
}

button:hover {
  opacity: 0.8;
}

<<<<<<< HEAD
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  float: left;
}
=======
  /* Set a style for all buttons */
  button {
      background-color: #bfbfbf;
      color:black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      float: right;
  }
>>>>>>> 54ac775f0d85cb0b9d6bbdb3e0c8ecfcde921e63

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

<<<<<<< HEAD
img.avatar {
  width: 40%;
  border-radius: 50%;
}
=======
  /* Extra styles for the cancel button */
  .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #bfbfbf;
      float: left;
  }
>>>>>>> 54ac775f0d85cb0b9d6bbdb3e0c8ecfcde921e63

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/*  star*/

/* Star rating style */
.star-rating {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 2px;
  height: 1em;
  line-height: 1.1;
  font-size: 15px;
  font-size: 1em;
  width: 4.7em;
  font-family: "FontAwesome"; }

.star-rating:before {
  content: "\f005\f005\f005\f005\f005";
  float: left;
  top: 0;
  left: 0;
  position: absolute; }

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em; }

.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  color: #ffaa3c; }

  /* star rating input */
  input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input:checked ~ label:before {
  color: #FFC107;
}

label:hover ~ label:before {
  color: #ffdb70;
}

label:hover:before {
  color: #FFC107;
}

/* input text box */
