body{


  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/moviebg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

}


#movies img, #movie img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}


.bgimg {

  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/moviebg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.center {
  margin: auto;
  position: absolute;
  width: 60%;
  padding: 100px;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;


}

.flex-container  {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

}
 .flex-container > div {
  border: 1px solid #f1f1f1;
  padding: 5px;
  background-color: white;
  width: 80%;
  margin-bottom: 20px;
}



.flex-containerreview {
  display: flex;
  padding: 50px;

}

.flex-containerreview >div {
  border: 1px solid #f1f1f1;
  padding: 5px;
  background-color: white;
  width: 80%;
  margin-bottom: 20px;
}


.container {
  padding: 10px;
  width: 80%;
  height: 80%;
  text-align: left;
  background-color: white;
  margin: 10px;
  border-color: grey;
}

.container-search {
  padding: 10px;
  width: 80%;
  text-align: left;
  background-color: black;
  margin: 10px;
  border-color: grey;
}



/* background animation */
.wrapper {
  overflow: hidden;
}

.sliding-background {
  /* background: url("../img/moviebg.png") repeat-x; */
  /* background-size: cover; */
  height: 1000px;
  width: 5076px;
  /* animation: slide 60s linear infinite; */
  /* Add the blur effect */

  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* background-color: rgba(0, 0, 0, 0.5); */
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

/* end animation */


.movie-list {
  margin: 0 -15px;
  /* width: 80%; */
}

  .movie-list .movie {
    width: 25%;
    padding: 0 15px;
    float: left;
    margin: 10px;
    margin-bottom: 30px; }


#top10 {
  color: white;
  text-align: center;
  font-size: 15px;
}


  /* TOP 10 PAGE */
